 .corp{
 	font-family: arial, sans-serif;
 	font-size: small;
 	margin: 0px;
 	padding: 0px;
 }

/*menu*/
 .header{
 	width: 28%;
 	float: right;
 }
 .header ul{
 	list-style-type: none;
 }
.header ul li{
	float: left;
}
.header ul li a{
	display: block;
	width: 70px;
	line-height: 30px;
	text-align: center;
	text-decoration: none;
	color: black;
}
.header ul li a:hover{
	text-decoration: underline;
}



 .logo{
 	display: block;
 	padding-top: 15%;
 	padding-left: 20%;
 }

/*champ de texte*/
 .recherche{
 	text-align: center;
 	padding-bottom: 50px;
 }

/*bouton de recherche*/
 .bouton-princ{
 	height: 40px;
 	margin: auto;
 	text-align: center;
 	display: flex;
 	justify-content: center;
 }

.re{
	background-color: #F7F7F0;
	width: 150px;
	margin-right: 10px;
 	border-radius: 3px;
}
.re:hover{
	border-style: solid;
	border-width: 1px;
	border-color: #927D6A;
 	font-weight: bold;
 	color: black;
}
 .re a{
	line-height: 40px;
	text-align: center;
	text-decoration: none;
	color: #524633;
	}


.chance{
	background-color: #F7F7F0;
	width: 150px;
 	border-radius: 3px;
}

.chance:hover{
	border-style: solid;
	border-width: 1px;
	border-color: #927D6A;
 	font-weight: bold;
 	color: black;
}
.chance a{
	line-height: 40px;
	text-align: center;
	text-decoration: none;
	color: #524633;
	}



 .langue{
 	margin-top: 20px;
 	text-align: center;
 }
 .langue a{
	text-align: center;
	text-decoration: none;
	color: #234CA5;
	}

/*footer*/
 .footer{
 	margin-top: 150px;
 	background-color: #F7F7F0;
 	height: 80px;
 	border-style: solid;
 	border-left-style: none;
 	border-right-style: none;
 	border-width: 1px;
 	border-color: #CCC6AD;
 }

 .part1{
 	padding: 15px;
 	color: #434543;
 }


 


/*les lien footer*/
.part2{
 	background-color: none;
 	color: #434543;
 	border-left-style: solid;
 	border-bottom-style: solid;
 	border-right-style: solid;
 	border-top-style: none;
 	border-width: 1px;
 	border-color: #CCC6AD;
 }

/*lien g*/
.lien1{
 	float: left;
 	padding-bottom: 10px;
 }

.lien1 ul{
 	list-style-type: none;
 	margin: 15px; 
 	padding: 0px;
 }
.lien1 ul li{
	float: left;
	margin-right: 30px;
}
.lien1 ul li a{
	display: block;
	text-align: center;
	text-decoration: none;
	color: #434543;
}

.lien1 ul li a:hover{
	text-decoration: underline;
}


/*lien d*/
 .lien2{
 	float: right;
 	margin-left: 800px;
 	padding-bottom: 10px;
 	position: relative;
 	top: -41px;
 }

 .lien2 ul{
 	list-style-type: none;
 	margin: 15px; 
 	padding: 0px;
 }
.lien2 ul li{
	float: left;
	margin-right: 30px; 
}
.lien2 ul li a{
	display: block;
	text-align: center;
	text-decoration: none;
	color: #434543;
}

.lien2 ul li a:hover{
	text-decoration: underline;
}